*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* header */
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 40px;
    background-color: brown;
    color: white;
}

nav a{
    display: inline-block;
    text-decoration: underline;
    color: white;
}

nav{
     position: sticky;
    margin-right: 30px;
}

li{
    list-style: none;
    display: inline;
}

.menu-toggle{
         display: none; /* hidden on desktop */
  font-size: 24px;
  cursor: pointer;
    }

/* Home page */
.home-page{
    border: 1px solid red;
   text-align: center;
   height: 500px;
   border: none;
   padding-top: 160px;
   line-height: 3rem;
   background-image: url(asset/images/sofa\ home\ image\ 2.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 20px;
}

.btn-explore{
    width: 150px;
    height: 50px;
    background-color: brown;
    color: white;
    cursor: pointer;
    border: none;
}

.products h2{
    
    margin-bottom: 20px;
}

.products{
    text-align: center;
}


.product-list{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
    max-width: 100%;
}
.product{
    width: 100%;
}


.add-to-cart{
    width: 120px;
    height: 40px;
}

.add-to-cart:hover{
    cursor: pointer;   
}

footer{
    height: 180px;
    text-align: center;
    padding-top: 50px;
    line-height: 2rem;
     background-color: brown;
}

@media(max-width: 768px){
    header{
        justify-content: space-between;
        padding: 10px;

    }
   nav{
   display: block;
   }

   .product-list{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
   }

   .product img{
    width: 100%;
   }
   

}